POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
POSTGRES_DB=users

JWT_SECRET=change_me_super_secret_value
INTERNAL_API_KEY=change_me_internal_api_key
JWT_EXPIRATION=86400000

PERMISSION_DB_URL=jdbc:postgresql://postgres-db:5432/users
PERMISSION_DB_USERNAME=your_db_user
PERMISSION_DB_PASSWORD=your_db_password
EUREKA_SERVER_URL=http://discovery-server:8761/eureka
PERMISSION_SERVICE_PORT=8084
PERMISSION_SERVICE_BASE_URL=http://permission-service
AUTH_DB_SCHEMA=public
USER_DB_SCHEMA=public
PERMISSION_DB_SCHEMA=public
VARIANT_DB_SCHEMA=public
CORE_DATA_DB_SCHEMA=public
PERMISSION_BOOTSTRAP_DEFAULT_ADMIN_ASSIGNMENTS_USER_TABLE=users
